<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- ops -->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName={storage account for the upload};AccountKey={access key for the account}" />

    <add key="containerName" value="{backup container name. Must exist}" />
    <add key="backupName" value="{backup name. Backup file must be located in directory that contains APIM.Upload.exe file}" />

  </appSettings>
</configuration>